<div class="topright partyNumber">
    <h3>{{partyNumber}}</h3>
</div>

<app-lit-title></app-lit-title>

<h2 align="center" *ngIf="party">
    {{party.name}}
</h2>

<div *ngIf="cocktails.length != 0" style="display: flex; flex-wrap: wrap; justify-content: space-around;">
    <mat-card class="mat-elevation-z8" style="max-width: 500px;" *ngFor="let cockid of cocktails" [ngClass]="{'outOfStock': cockid.link.outOfStock}">
        <h1 *ngIf="cockid.link.outOfStock" class="outOfStockWarning">En Rupture</h1>
        <mat-card-header>
            <img mat-card-xl-image src="assets/{{cockid.cock.image}}.jpg" alt="">
            <mat-card-title>
                <h3>{{cockid.cock.name}}</h3>
                <mat-chip-list>
                    <mat-chip color="accent" *ngFor="let ing of cockid.cock.ingredients">{{ing}}</mat-chip>
                </mat-chip-list>
                <h6 style="margin-top: 12px;">{{cockid.cock.desc}}</h6>
            </mat-card-title>
        </mat-card-header>
    </mat-card>
</div>
