<app-lit-title></app-lit-title>

<button mat-raised-button style="position: absolute; margin-left: 6px;" routerLink="/master">Retour</button>
<button mat-raised-button style="position: absolute; right: 6px;" (click)="changeName()">Renommer</button>

<div *ngIf="cocktail" align="center">
    <h2>{{cocktail.cock.name}}</h2>

    <div style="display: flex; flex-wrap: wrap; justify-content: space-around;">
        <div *ngIf="imageURL">
            <img src="{{imageURL}}" alt="">
            <button mat-raised-button color="red"
                (click)="deleteImage()"
                style="position: absolute; transform: translate(-100%, -0%); -ms-transform: translate(-100%, -0%)">
                <mat-icon>delete</mat-icon>
            </button>
        </div>
        <button *ngIf="!imageURL" mat-raised-button>
            Ajouter une image
            <mat-icon>photo_camera</mat-icon>
        </button>
        <div style="max-width: 300px;">
            <h3>Ingrédients</h3>
            <mat-chip-list *ngIf="cocktail.cock.ingredients">
                <mat-chip color="accent" *ngFor="let ing of cocktail.cock.ingredients" (click)="deleteIngredient(ing)"><h5 style="color: black">{{ing}}</h5></mat-chip>
                <mat-chip color="accent" class="addIngredient" (click)="addIngredient()"><mat-icon>add</mat-icon></mat-chip>
            </mat-chip-list>
        </div>
        <div style="display: flex; flex-wrap: wrap; flex-direction: column;">
            <h3>Description</h3>
            <form [formGroup]="descriptionForm">
                <textarea cols="30" rows="10" maxlength="1000" formControlName="desc"></textarea>
            </form>
            <button mat-raised-button (click)="changeDescription()">Valider</button>
        </div>
    </div>
</div>
