table{
    width: 100%;
    margin: 0;
}

td{
    width: 33%;
}

.party{
    background: linear-gradient(180deg, #fffb00, #999b00);
    margin: 14px;
    width: 350px;
    height: 70px;
    border: solid 1px black;
}

.open-party{
    background: linear-gradient(180deg, #00FF00, #009900);
}

h4{
    text-shadow: none;
}

.cocktail {
    background: linear-gradient(180deg, #0022ff, #00eeff);
    margin: 2%;
    margin-top: 2px;
    margin-bottom: 2px;
    width: 96%;
    height: 20px;
    border: solid 1px black;
}

.newCocktail {
    background: linear-gradient(180deg, #00eeff, #ffffff);
}

.mat-mini-fab{
    margin-right: 8px;
}

.mat-chip-list{
    margin-left: 12px;
    margin-top: -10px;
}
