<app-lit-title></app-lit-title>

<button mat-raised-button style="position: absolute; margin-left: 6px;" routerLink="/master">Retour</button>
<button mat-raised-button style="position: absolute; right: 6px;" (click)="changeName()">Renommer</button>

<div align="center" *ngIf="party">
    <h3>{{party.party.name}}</h3>
</div>

<div style="margin-right: 3%;">
    <mat-card *ngFor="let c of partyCocktails" class="cocktail" [ngClass]="{'outOfStock': c.link.outOfStock}">
        <div style="display: ruby;">
            <h4>{{c.cock.name}}</h4>
            <mat-chip-list *ngIf="c.cock.ingredients">
                <mat-chip color="accent" *ngFor="let ing of c.cock.ingredients" [ngClass]="{'outOfStockchip': c.link.outOfStock}" (click)="outOfStockIng(ing)"><h6>{{ing}}</h6></mat-chip>
            </mat-chip-list>
        </div>
        <mat-card-actions align="end" style="position: absolute; bottom: 15px; right: 12px;">
            <button mat-mini-fab color="" *ngIf="c.link.outOfStock" (click)="setNotOutOfStock(c.link.id)">
                <mat-icon>done</mat-icon>
            </button>
            <button mat-mini-fab color="" *ngIf="!c.link.outOfStock" (click)="setOutOfStock(c.link.id)">
                <mat-icon>close</mat-icon>
            </button>
            <button mat-mini-fab color="" (click)="removeCocktail(c.link.id)">
                <mat-icon>remove</mat-icon>
            </button>
        </mat-card-actions>
    </mat-card>
    
    <mat-card class="addCocktail cocktail">
        <mat-card-actions align="end" style="position: absolute; bottom: 15px; right: 12px;">
            <button mat-mini-fab color="">
                <mat-icon>add</mat-icon>
            </button>
        </mat-card-actions>
    </mat-card>
</div>
